{%extends 'title.html'%}

{%block title%}登錄頁面{%endblock%}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static',filename='css/login_regist.css')}}">
{%endblock%}

{%block body%} <h4 class="page-title">菜鳥們!! 勇敢去闖出你的一片天吧~</h4>
<form action="" method="POST" novalidate>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="form-container">
            <div class='form-group'>
                <p>
                {{form.username.label}}
                {{form.username()}}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </p>
            </div>
            <div class='form-group'>
                <p>
                {{ form.password.label }}
                {{ form.password() }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </p>
            </div>
            <div class='form-group'>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </div>
        </div>
    </form>
</form>
{%with messages = get_flashed_messages()%}
    {%for message in messages%}
        <h5 style="color:sienna">{{message}}</h5>
    {%endfor%}
{%endwith%}
{%endblock%}

