{%extends 'title.html'%}

{%block title%}
註冊頁面
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/login_regist.css')}}">
{%endblock%}

{%block body%}<h4 class="page-title">菜鳥們!! 踏出第一步，尋找未來~ 因為..<br>
人生只有一次!
</h4>
<form action="" method="POST">
    {{ form.csrf_token }}
    <div class="form-container">
        <div class='form-group'>
            {{ form.username.label }}<br>
            {{ form.username() }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class='form-group'>
            {{ form.email.label }}<br>
            {{ form.email() }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class='form-group'>
            {{ form.password1.label }}<br>
            {{ form.password1() }}<br>
            {% for error in form.password1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class='form-group'>
            {{ form.password2.label }}<br>
            {{ form.password2() }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class='form-group'>
            {{ form.submit() }}
        </div>
    </div>      
</form>
{%with messages = get_flashed_messages()%}
    {%for message in messages%}
        <h5 style="color: sienna">{{message}}</h5>
    {%endfor%}
{%endwith%}
{%endblock%}